Code/
JetBrains/
QtProject.conf
QtProject/
Slack/
Unknown Organization/
VSCodium/
baloofileinformationrc
btop/
calibre/
cef_user_data/
coc/
dconf/
discord/
dolphinrc
evolution/
fontconfig/
github-copilot/
google-chrome/
gtk-2.0/
gtk-3.0/
htop/
hypr/
kconf_updaterc
kde.org/
kdeglobals
menus/
mimeapps.list
neofetch/
nordvpn/
openrazer/
pavucontrol.ini
polychromatic/
pulse/
qt5ct/
session/
spotify/
texstudio/
trashrc
user-dirs.dirs
user-dirs.locale
vlc/
zoom.conf
zoomus.conf
gedit/
Postman
Compass
MongoDB Compass
lazygit
tmux/plugins
Insomnia
autostart
bcompare
Android Open Source Project/
Google/
alacritty/random-themes/
alacritty/tempus-themes/
alacritty/zenbones-themes/
betterlockscreen/
filetypesrc
gh-dash/
gh/
go/
i3/everforest-walls/
lazydocker/
libreoffice/
nvim/colors/
obsidian/
solaar/
typeracer/
zed/
flameshot/
