configuration {
  modi: "window,drun,ssh,filebrowser,emoji,calc";
  terminal: "alacritty";
  drun-match-fields: "name";
  sidebar-mode: true;
  font: "Iosevka 20";
}
//@theme "/usr/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
