configuration {
  modi: "window,drun,ssh,filebrowser,emoji,calc";
  terminal: "alacritty";
  drun-match-fields: "name";
  sidebar-mode: true;
}
@theme "/usr/share/rofi/themes/squared-everforest.rasi"
