* {
	font-size: 16px;
	font-family: iosevka, monospace;
}

window#waybar {
	background: #292f2b;
	color: #afdcc6;
}

#custom-clock-separator {
  /* Match your background or adjust as needed: */
  background: #2a4e51;
  color: #afdcc6;

  /* If you want it smaller than the default 20px: */
  font-size: 16px;

  /* Spacing around it: */
  padding: 0 8px;
}

#custom-theme-toggle {
  /* Match your background or adjust as needed: */
  background: #2a4e51;
  color: #afdcc6;

  /* If you want it smaller than the default 20px: */
  font-size: 16px;

  /* Spacing around it: */
  padding: 0 8px;
}

#custom-sunset {
    background: #2a4e51;
    color: #afdcc6;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #2a4e51;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #2a4e51;
}
#custom-space-box {
    background: #2a4e51;
    color: #2a4e51;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#clock.4,
#pulseaudio,
#network,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: #2a4e51;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}


#workspaces button.visible {
  background-color: #afdcc6;
  /*color: #bbbbbb;*/
  color: #292f2b;
}

#workspaces button.active {
  background-color: #7da67a;
  /*color: #bbbbbb;*/
  color: #fdf6e3;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}
#pulseaudio {
	color: #fbc46f;
}
#memory {
	color: #fbc46f;
}
#cpu {
	color: #d96f68;
}
#battery {
	color: #afdcc6;
}
#disk {
	color: #fbc46f;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 5px;
}
